<!DOCTYPE html>
<html>
    <head>
        <title>page modification page bog id :  {{ section.id }}</title>
    </head>
    <body>
        <h3>{{ section.name }}</h3>
        {{ form(form) }}
    </body>
</html>