{% form_theme form 'bootstrap_4_layout.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
  <meta name="author" content="yohanan hirsch">
  <meta name="description" content="index du gestionnaire des événemets du site">
  <title>index gestion événement</title>
  <!-- lien bootstrap 4 -->
               <!-- Latest compiled and minified CSS -->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            
            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
            
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 
            <!-- fin des liens bootstrap 4 -->
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between bg-secondary mb-3">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="../"> <<< ---INDEX</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="../gestion"> gestion du blog </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./"> gestion des événements </a>
    </li>
  </ul>
   <ul class="navbar-nav">
      
      <li><a href="#"><i class="fa fa-user-circle" style="font-size:24px"></i></a></li>
    </ul>
</nav>
<hr>

<section>
    <article class="container">
        <div class="card">
  <div class="card-header bg-primary"><center><h5 style="color:white;">FORMULAIRE DE CREATION D'EVENEMENTS</h5></center></div>
  <div class="card-body"> {{ form(form) }} </div>
  <div class="card-footer"><i>Pour tous renseignements: </i></div>
</div>
      
     
    </article>
    
</section>
</html>